<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-menu">
                    <ul class="list-inline">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#top">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#portfolio">Technologies</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#testimonial">Testimonial</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-content text-right">
                    <p>&copy; 2014 All Rights Reserved | <a href="{{ site.url }}">CodeSlim</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>