 <div id="home-area">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <!-- HOME CONTENT -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="home-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                            <h1>We Create Solutions</h1>
                            <p>We are a <strong>Creative Team</strong>. We find the problems, Create Solutions. Design & Development is our Passion.</p>
                            <a class="button home" href="#">Get Started</a>
                        </div>
                    </div>
                    <!-- END HOME CONTENT -->

                    <!-- HOME FEATURE IMAGE -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="home-feature pull-right center-block wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
                            <img class="img-responsive" src="{{site.baseurl}}/assets/img/app.png" alt="">
                        </div>
                    </div>
                    <!-- END HOME FEATURE IMAGE -->

                </div>
            </div>
        </div>
    </div>
    <!-- END HOME -->