<section id="newsletter" class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="newsletter-content wow fadeInDown" data-wow-duration="1s">
                    <h2>Like our Work? Stay Connected</h2>
                    <p>Subscribe to our newsletter</p>
                </div>
                <form class="form-group wow fadeInUp" data-wow-duration="1s" action="https://getsimpleform.com/messages?form_api_token=595bff0e4f869aa7e40fcaaefa818ae7" method="post">
                    <input type="email" name="newsletter" class="form-control" placeholder="Your Email Address">
                    <input type="submit" class="pull-right button newsletter">
                </form>
            </div>
        </div>
    </div>
</section>