<!-- PORTFOLIO -->
<section id="portfolio" class="section text-center">
    <div class="container">
        <h2 class="section-title wow fadeIn">Technologies</h2>

        <!--<div class="portfolio-filter text-center wow fadeInLeft" data-wow-duration="1s">
            <a target="_blank" href="#">Mobile</a>
            <a target="_blank" href="#">Web Design</a>
            <a target="_blank" href="#">Branding</a>
            <a target="_blank" href="#">Photography</a>
        </div>-->
        <div class="row">
            <div class="portfolio-gallery wow pulse">

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a target="_blank" href="https://nodejs.org/" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/node.jpg" alt="" class="img-responsive center-block tech-imgs">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a target="_blank" href="http://rubyonrails.org/" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/ror.jpg" alt="" class="img-responsive center-block tech-imgs">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a target="_blank" href="https://www.meteor.com/" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/meteor.png" alt="" class="img-responsive center-block tech-imgs">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a target="_blank" href="https://facebook.github.io/react/" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/react.png" alt="" class="img-responsive center-block tech-imgs">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a target="_blank" href="https://www.mongodb.com/" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/mongodb.png" alt="" class="img-responsive center-block tech-imgs">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a target="_blank" href="https://neo4j.com/" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/neo4j.png" alt="" class="img-responsive center-block tech-imgs">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a target="_blank" href="{{site.baseurl}}/assets/img/portfolio/07.png" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/machine_learning.jpg" alt="" class="img-responsive center-block tech-imgs">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a target="_blank" href="{{site.baseurl}}/assets/img/portfolio/08.png" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/ia.png" alt="" class="img-responsive center-block tech-imgs">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->


            </div>
            <!--./portfolio-gallery-->
        </div>
    </div>
    <!--/.container-->
</section>
    <!-- END PORTFOLIO -->