<!-- PORTFOLIO -->
<section id="portfolio" class="section text-center">
    <div class="container">
        <h2 class="section-title wow fadeIn">Portfolio</h2>
        <div class="portfolio-filter text-center wow fadeInLeft" data-wow-duration="1s">
            <a href="#">Mobile</a>
            <a href="#">Web Design</a>
            <a href="#">Branding</a>
            <a href="#">Photography</a>
        </div>
        <div class="row">
            <div class="portfolio-gallery wow pulse">

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a href="{{site.baseurl}}/assets/img/portfolio/01.png" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/01.png" alt="" class="img-responsive center-block">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a href="{{site.baseurl}}/assets/img/portfolio/02.png" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/02.png" alt="" class="img-responsive center-block">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a href="{{site.baseurl}}/assets/img/portfolio/03.png" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/03.png" alt="" class="img-responsive center-block">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a href="{{site.baseurl}}/assets/img/portfolio/04.png" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/04.png" alt="" class="img-responsive center-block">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a href="{{site.baseurl}}/assets/img/portfolio/05.png" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/05.png" alt="" class="img-responsive center-block">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a href="{{site.baseurl}}/assets/img/portfolio/06.png" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/06.png" alt="" class="img-responsive center-block">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a href="{{site.baseurl}}/assets/img/portfolio/07.png" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/07.png" alt="" class="img-responsive center-block">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->

                <!-- SINGLE PORTFOLIO -->
                <div class="single-portfolio">
                    <a href="{{site.baseurl}}/assets/img/portfolio/08.png" class="prettyPhoto" title="Single Portfolio">
                        <img src="{{site.baseurl}}/assets/img/portfolio/08.png" alt="" class="img-responsive center-block">
                    </a>
                </div>
                <!-- END SINGLE PORTFOLIO -->


            </div>
            <!--./portfolio-gallery-->
        </div>
    </div>
    <!--/.container-->
</section>
    <!-- END PORTFOLIO -->