<section id="services" class="section text-center">
    <div class="container">
        <h2 class="section-title wow fadeIn">Services</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-sx-6">
                <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="service-title">
                        <i class="fa fa-laptop fa-3x"></i>
                    </div>
                    <div class="service-content">
                        <h3>Web Apps</h3>
                        <p>Development of Web apps with NodeJS, Ruby on Rails, Meteor, ReactJS and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-sx-6">
                <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="service-title">
                        <i class="fa fa-android fa-3x"></i>
                    </div>
                    <div class="service-content">
                        <h3>Mobile Apps</h3>
                        <p>Development of Android and Apple apps for take your business to the top.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-sx-6">
                <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
                    <div class="service-title">
                        <i class="fa fa-cogs fa-3x"></i>
                    </div>
                    <div class="service-content">
                        <h3>Machine Learning</h3>
                        <p>Explore pattern recognition during data analysis through computer science and statistics.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-sx-6">
                <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay=".9s">
                    <div class="service-title">
                        <i class="fa fa-hdd-o fa-3x"></i>
                    </div>
                    <div class="service-content">
                        <h3>NoSQL & Graph DB's</h3>
                        <p>NoSQL brings modern and solid models for your application. Graph DB is a powerful tool for problems complex systems.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-sx-6">
                <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.2s">
                    <div class="service-title">
                        <i class="fa fa-hand-spock-o fa-3x"></i>
                    </div>
                    <div class="service-content">
                        <h3>ARTIFICIAL INTELLIGENCE</h3>
                        <p>Systems that perceive the environment and take actions that maximize your chances of success. This is the millennium technology.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-sx-6">
                <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.5s">
                    <div class="service-title">
                        <i class="fa fa-cloud fa-3x"></i>
                    </div>
                    <div class="service-content">
                        <h3>Cloud Computing</h3>
                        <p>AWS, Digital Ocean, Google Compute Engine, Modulus, Heroku: your business scalable and secured in the Coud Computing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>