
/* path to glyphicons */
//$glyphicons-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* path to glyphicons */
//$awesome-font-path: "/assets/fonts/font-awesome/fonts";

/* any style customization must be before the bootstrap import */

@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";
@import "theme";
@import "animate";
@import "owl.carousel";
@import "prettyPhoto";
@import "responsive";

@import 'https://fonts.googleapis.com/css?family=Syncopate';

.navbar-brand{
	padding-top: 0.5em;
	font-size: 250%;
	font-family: 'Syncopate', sans-serif;
}

mark{
	padding: 0%;
	background-color: transparent;
}
mark.code{
	color: #263238;
}
mark.slim{
	color: #283593;
}